:root {
  --logo-font: 'Fugaz One', cursive;
  --heading-font: 'Glory', sans-serif;
  --paragraph-font: 'Urbanist', sans-serif;
}

.logo {
  font-family: var(--logo-font);
  font-size: 68px;
  color: var(--logo-color);
}

#title {
  font-family: var(--heading-font);
  font-size: 18px;
}

#cur-local {
  font-family: var(--heading-font);
  font-size: 52px;
  letter-spacing: 1px;
}

#cur-temp {
  font-family: var(--paragraph-font);
}

.forecast-container {
  font-family: var(--paragraph-font);

  #date {
    font-size: 24px;
  }
}
